<bt-tab-menu
  [tabs]="tabs"
  (tabChange)="onSelectedTabChanged($event)"
  [selectedTab]="selectedTab">
</bt-tab-menu>

<bt-component-info
  [node]="node"
  [tree]="tree"
  [loadingState]="loadingState"
  [state]="state"
  [hidden]="selectedTab !== StateTab.Properties"
  [ngClass]="{flex: selectedTab === StateTab.Properties}"
  (selectionChange)="selectionChange.emit($event)">
</bt-component-info>

<bt-injector-tree
  (selectComponent)="selectionChange.emit($event)"
  [hidden]="selectedTab !== StateTab.InjectorGraph"
  [tree]="tree"
  [selectedNode]="node"
  [theme]="theme"
  [ngClass]="{'flex flex-auto': selectedTab === StateTab.InjectorGraph}">
</bt-injector-tree>
