<div class="flex flex-column flex-stretch vh-100 border-right border-color-dark">
  <bt-tab-menu
    [tabs]="tabs"
    (tabChange)="tabChange($event)"
    [selectedTabIndex]="selectedTabIndex">
  </bt-tab-menu>

  <bt-component-info
    (selectDependency)="selectDependency($event)"
    [node]="node"
    [hidden]="selectedTabIndex != 0"
    [ngClass]="{flex: selectedTabIndex == 0}">
  </bt-component-info>

  <bt-dependent-components
    (selectNode)="selectNode($event)"
    (selectDependency)="selectDependency($event)"
    [dependency]="selectedDependency"
    [components]="dependentComponents"
    [hidden]="selectedTabIndex != 1"
    [ngClass]="{flex: selectedTabIndex == 1}">
  </bt-dependent-components>

  <bt-injector-tree
    (selectNode)="selectNode($event)"
    [hidden]="selectedTabIndex != 2"
    [tree]="tree"
    [selectedNode]="node">
  </bt-injector-tree>

</div>