<bt-components-tab-menu
  [selectedStateTab]="selectedStateTab"
  [isIvy]="isIvy"
  (tabChange)="componentsSubTabMenuChange.emit($event)"
>
</bt-components-tab-menu>

<bt-component-info
  [node]="node"
  [tree]="tree"
  [loadingState]="loadingState"
  [state]="state"
  [providers]="providers"
  [componentMetadata]="componentMetadata"
  [metadata]="metadata"
  [hidden]="selectedStateTab !== StateTab.Properties"
  [ngClass]="{flex: selectedStateTab === StateTab.Properties}"
  (selectNode)="selectNode.emit($event)"
  (updateProperty)="updateProperty.emit($event)"
  (emitValue)="emitValue.emit($event)"
>
</bt-component-info>

<bt-injector-tree
  (selectNode)="selectNode.emit($event)"
  [hidden]="selectedStateTab !== StateTab.InjectorGraph"
  [tree]="tree"
  [ngModules]="ngModules"
  [selectedNode]="node"
  [selectNode]="selectNode"
  [isIvy]="isIvy"
  [ngClass]="{'flex flex-auto': selectedStateTab === StateTab.InjectorGraph}"
>
</bt-injector-tree>
