<div
  (mouseout)=onMouseOut($event)
  (mouseover)=onMouseOver($event)
  (dblclick)=onDblClick($event)
  (click)="onClick($event)">

  <div class="node-item pl4 rounded border-box"
       [ngClass]="{'node-item-selected':isSelected}"
    >
    <img src="../images/Triangle.svg"
         style="width: 0.8em; height: 0.8em;"
         [hidden]="node.children ? false : true"
         [ngClass]="{rotate90: !showChildren}"
         (click)="expandTree($event)">

    <p class="inline-block mt0 pl1">{{ node.name }}</p>
  </div>

  <div class="pl4 border-box">
    <bt-node-item
      [hidden]="!showChildren"
      *ngFor="#node of node.children"
      [node]="node">
    </bt-node-item>
  </div>
</div>
