
/* Header */

.setting {
  -webkit-mask-position: -200px -29px;
  height: 16px;
  margin: auto;
  width: 16px;
}

.setting-dropdown {
  -webkit-user-select: none;
  z-index: 200;

  & input {
    vertical-align: text-bottom;
  }

  & li {
    padding-left: 1rem;
  }

  & .descriptive-text {
    max-width: 25em;
  }
}
