
/* Info Panel */

.editable {
  border-bottom: dashed 1px !important;
  border: 0;
  display: inline-block;
  padding: 0 5px;

  &:focus {
    border-bottom: 0 !important;
  }
}

bt-component-info a,
bt-component-info a:link,
bt-component-info a:visited,
bt-component-info a:active {
  color: var(--bt-link-color);
  text-decoration: none;
}

bt-component-info a:hover {
  text-decoration: underline;
}

bt-dependency ul li:last-child {
  border-bottom: none;
}
