
/* Info Panel */

.changed {
  background-color: var(--bt-change-highlight-color);
}

.info-value {
  color: var(--bt-type-color);
}

.info-key {
  color: var(--bt-key-color);
}

.editable {
  background-color: var(--bt-editable-highlight-color);
  border-bottom: dashed blue 1px !important;
  border: 0;
  color: var(--bt-editable-color);
  display: inline-block;

  &:focus {
    border-bottom: 0 !important;
  }
}

bt-component-info a,
bt-component-info a:link,
bt-component-info a:visited,
bt-component-info a:active {
  color: var(--bt-link-color);
  text-decoration: none;
}

bt-component-info a:hover {
  text-decoration: underline;
}

bt-dependency ul li:last-child {
  border-bottom: none;
}
