bt-injector-tree {
  & .link {
    stroke-width: 1.5px;
  }

  & .circle-injector-tree {
    stroke: none;
  }

  & .arrow {
    marker-end: url(#suit);
  }

  & .dashed5 {
    stroke-dasharray: 5px 5px;
  }

  & #suit {
    stroke-width: 1.414px;
  }
}