bt-injector-tree .link {
  stroke-width: 1.5px;
}
bt-injector-tree .node-circle {
  stroke: none;
  cursor: pointer;
}
bt-injector-tree .arrow {
  marker-end: url(#suit);
}
bt-injector-tree .dashed5 {
  stroke-dasharray: 5px 5px;
}
bt-injector-tree #suit {
  stroke-width: 1.414px;
}
bt-injector-tree .graph-panel {
  overflow-y: auto;
}
bt-injector-tree .focused-node-info-panel {
  overflow-y: auto;
}
