
/* Node Items */

.node-item {
  cursor: pointer;
}

.node-item-error {
  background-color: var(--red-lightest)
}

.node-item-selected {
  background-color: var(--blue);
}

.node-item-hovered {
  background-color: var(--blue-light);
}

.node-item-name {
  color: var(--webkit-tag-name);
  display: inline;
}

.node-item-property {
  color: var(--webkit-attribute-key);
  display: inline;
}

.node-item-value {
  color: var(--webkit-attribute-value);
  display: inline;
}
