
/* Node Items */

.node-item {
  cursor: pointer;

  &:hover {
    background-color: var(--blue-light);
    padding-left: 58px;
    margin-left: -50px;
  }
}

.node-item-error {
  background-color: var(--red-lightest)
}

.node-item-selected,
.node-item-selected:hover {
  background-color: var(--blue);
  padding-left: 58px !important;
  margin-left: -50px;
}

.node-item-name {
  color: var(--webkit-tag-name);
  display: inline;
}

.node-item-property {
  color: var(--webkit-attribute-key);
  display: inline;
}

.node-item-value {
  color: var(--webkit-attribute-value);
  display: inline;
}
