
/* Node Items */

.node-item {
  cursor: pointer;

  &:hover {
    padding-left: 58px;
    margin-left: -50px;
  }
}

.node-item-selected,
.node-item-selected:hover {
  padding-left: 58px !important;
  margin-left: -50px;
}

.node-item-name {
  display: inline;
}

.node-item-property {
  display: inline;
}

.node-item-value {
  display: inline;
}
