/* Router Tree */
bt-router-tree .link {
  stroke-width: 1px;
  fill: none;
}

bt-router-tree .node {
  cursor: pointer;
}

.node-route {
  stroke-width: 1px;
}

.node-aux-route {
  stroke-width: 1px;
}

/* Router Info Modal */
bt-router-info {
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 100;
}
