.tab-menu-title {
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 11.5px;
}

.select-element {
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
