.tab-menu-title {
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 11.5px;
  white-space: nowrap;
}

.select-element {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 10px;
  padding: 3px;
}

.ngVersion {
  line-height: 31px;
  font-weight: bold;
  color: #5128a5;
  padding-right: 5px;
}

.dark .ngVersion {
  color: #A28AD0;
}

/* FEEDBACK FORM */

.feedback-form {
  position: absolute;
  top: 35px; right: 35px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.4);
  padding: 20px;
  width: 50%;
  z-index: 200;
}

.feedback-form::before {
  content: '';
  position: absolute;
  top: -11px; right: 4px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid rgba(0,0,0,0.4);
}

.feedback-form::after {
  content: '';
  position: absolute;
  top: -10px; right: 5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.dark .feedback-form::after, .dark .feedback-from::before {
  border-bottom-color: #242424;
}

.feedback-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 11.5px;
  padding-right: 10px;
}

.feedback-button:active {
  background: rgba(0,0,0,0.05)
}

.feedback-button .feedback-icon {
  height: 20px;
  margin: auto 5px;
  width: 20px;
}
