<div class="pl4" *ngFor="let k of keys(state)">
  <span *ngIf="nest(k)" (click)="expandTree(k, $event)">
    <div [ngClass]="{
        expander: true,
        rotate90: !expanded[k],
        invisible: keys(state[k]).length == 0
      }">
    </div>
    <span class="info-key">
      {{k}}:
    </span>
    <span class="info-value">
      {{displayType(state[k])}}
    </span>
  </span>
  <bt-state-values *ngIf="nest(k) === false"
    [path]="path.concat([k])"
    [id]="id"
    [value]="state[k]">
  </bt-state-values>
  <div *ngIf="expanded[k]">
    <bt-render-state *ngIf="nest(k)"
      [path]="path.concat([k])"
      [id]="id"
      [state]="state[k]">
    </bt-render-state>
  </div>
</div>