<div style="padding-left:10px;" *ngFor="#k of keys(state)">
    <span *ngIf="type(state[k]) =='object'">
      <img src="../images/Triangle.svg" style="width: 0.8em; height: 0.8em;"
         [ngClass]="{rotate90: expanded[k]}"
         (click)="expandTree(k, $event)"> 
         <span class="info-key">{{k}}</span><span class="info-value">{{displayType(state[k])}}</span>
    </span>

    <bt-state-values *ngIf="type(state[k]) !='object'"
      [propertyTree]="propertyTree + ',' + k"
      [id]="id"
      [value]="state[k]">
    </bt-state-values>

    <bt-render-state
      [propertyTree]="propertyTree + ',' + k"
      [id]="id"
      [hidden]="expanded[k]"
      *ngIf="type(state[k]) =='object'" [state]="state[k]">
    </bt-render-state>

</div>
