<div class="flex flex-column flex-stretch col-12">
  <header class="bg-darken-1 border-bottom py3 px3">
    <h4 class="regular flex flex-center primary-color col col-4 m0">
      <img src="../images/augury-logo.svg"
        class="mr2"
        style="width: 18px; height: 18px;">
        Augury
    </h4>
    <div class="col col-4">
      <div *ngIf="!(totalSearchCount > 0 && query.length > 0)">
        &nbsp;
        </div>
      <div class="right-align mx3"
        *ngIf="totalSearchCount > 0 && query.length > 0">
        <span class="h4 regular">
          {{searchIndex + 1}} of {{totalSearchCount}}
          </span>
        <button class="btn btn-primary black bg-silver mb1"
          style="padding: 2px 4px;"
          (click)="onKey($event, true)">
          <img src="../images/Triangle.svg"
            style="width: 0.8em; height: 0.8em;">
        </button>
        <button class="btn btn-primary black bg-silver mb1"
          style="padding: 2px 4px;"
          (click)="onKey($event, false)">
          <img src="../images/Triangle.svg"
            class="rotate180"
            style="width: 0.8em; height: 0.8em;">
        </button>
      </div>
    </div>
    <!-- SEARCH -->
    <input class="border rounded border-color-dark col col-4"
      [ngClass]="{'bg-silver': searchDisabled}"
      placeholder="Search for Component"
      type="text"
      (keyup)="onKey($event)"
      [disabled]="searchDisabled"
      [(ngModel)]="query">
  </header>
</div>