<div class="flex flex-column flex-stretch col-12">
  <header class="flex flex-justify bg-panel border-bottom py3 px3">
    <h4 class="regular flex flex-center primary-color m0">
      <img src="../images/augury-logo.svg"
        class="mr2"
        style="width: 18px; height: 18px;">
        Augury
    </h4>
    <div class="flex">
      <div class="flex flex-center border rounded border-color-dark bg-white mr3"
        [ngClass]="{'disabled-color': searchDisabled}">
        <!-- SEARCH -->
        <input class="outline border-none bg-white flex-auto primary-color"
          [ngClass]="{'bg-panel disabled-color': searchDisabled}"
          placeholder="Find Component"
          type="text"
          (keyup)="onKey($event)"
          [disabled]="searchDisabled"
          [(ngModel)]="query">
        <div class="bg-white right-align pr2"
          style="min-width:50px">
          <span class="h4 regular primary-color"
            *ngIf="totalSearchCount > 0 && query.length > 0">
            {{searchIndex + 1}} of {{totalSearchCount}}
            </span>
        </div>
        <div class="right-align border-left">
          <div class="inline-block">
            <button class="outline border-none btn-primary primary-color bg-panel pointer py2"
              (click)="onKey($event, false)">
              <div class="expander rotate180"></div>
            </button>
          </div>
          <div class="border-left inline-block"
            style="margin-left: -4px">
            <button class="outline border-none border-left btn-primary primary-color bg-panel pointer py2"
              (click)="onKey($event, true)">
              <div class="expander"></div>
            </button>
          </div>
        </div>
      </div>

      <!-- SETTING -->
      <div class="icon setting" id="augury-theme-menu-button"
        (click)="openSettings()"></div>
    </div>
  </header>

  <form>
    <ul id="augury-theme-menu" class="setting-dropdown list-reset border border-dark rounded bg-silver absolute right-0" [ngClass]="{'setting-dropdown--dark':theme==='dark'}" *ngIf="settingOpened">
      <li class="p3 border-bottom border-dark">
        <input type="radio"
          #lightTheme
          [checked]="theme==='light'"
          (change)="themeChange('light', lightTheme.checked)"
          name="theme"
          value="light">
        <label for="light">Light Mode</label>
      </li>
      <li class="p3">
        <input type="radio"
          #darkTheme
          [checked]="theme==='dark'"
          (change)="themeChange('dark', darkTheme.checked)"
          name="theme"
          value="dark">
        <label for="dark">Dark Mode</label>
      </li>
    </ul>
  </form>

</div>
