# Logs
*.log

# we dont use yarn here.
yarn.lock

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Sass cache folder
.sass-cache

# Users Environment Variables
.lock-wscript
.idea/
*.iml
npm-debug*
*~
\#*#
.#*
*.keystore
*.sw*
.DS_Store
._*
Thumbs.db
.cache
*.sublime-project
*.sublime-workspace
*swp
*swo
*swn
build
dist
temp
tmp
node_modules
bower_components

keys.md
.env

# Project reference
ref
NOTES.md

typings

key.pem
.vscode/

# build output
*.crx
*.xpi
*.zip
*.pub
*.sig
download.html
manifest.json
