# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Sass cache folder
.sass-cache

# Users Environment Variables
.lock-wscript
.idea/
*~
\#*#
.#*
*.keystore
*.sw*
.DS_Store
._*
Thumbs.db
.cache
*.sublime-project
*.sublime-workspace
*swp
*swo
*swn
build
dist
temp
node_modules
bower_components

keys.md
.env

# Project reference
ref
NOTES.md

typings/*
!typings/tsd.d.ts
example-apps/todo-mvc-example/jspm_packages/*
example-apps/todo-mvc-example/typings/*
