<header class="flex flex-justify bg-panel border-bottom">
  <div class="flex">
    <img *ngIf="showLogo" src="../images/augury-logo.svg"
         class="logo">
    <div
       class="primary-color tab-menu-title px2 py2 border-transparent mt1"
       [ngClass]="{'bg-base border-top border-right border-left selected': t.selected}"
       *ngFor="let t of tabs; let i = index"
       (click)="onSelect(t)">
      {{t.title}}
    </div>
  </div>
  <ng-content selector="[postlude]"></ng-content>
</header>
