<div class="modal_container monospace" *ngIf="selectedNode">
      <div class="modal_header">
          <div class="logo">
            <div class="logo_text">
              <p class="monospace">
                {{selectedNode.name}}
              </p>
            </div>
          </div>
      </div>
      <div class="modal_content">
        <ul *ngIf="selectedNode">
          <li>
            <span class="info-key">path: </span>
            <span class="info-value">{{selectedNode.path}}</span>
          </li>
          <li>
            <span class="info-key">specificity: </span>
            <span class="info-value">{{selectedNode.specificity}}</span>
          </li>
          <li>
            <span class="info-key">handler: </span>
            <span class="info-value">{{selectedNode.handler}}</span>
          </li>
          <li *ngIf="selectedNode._data && selectedNode._data.length > 0">
            <span class="info-key">data: </span>
            <ul>
              <li *ngFor="#el of selectedNode._data">
                <span class="info-key">{{el.key}}: </span>
                <span class="info-value">{{el.value}}</span>
              </li>
            </ul>
          </li>
        </ul>
    </div>
</div>