<div class="route-info monospace" *ngIf="selectedNode">
  <p class="title">{{selectedNode.name}}</p>
  <ul *ngIf="selectedNode">
    <li>
      <span class="text-property">path: </span>
      <span class="text-type">{{selectedNode.path}}</span>
    </li>
    <li>
      <span class="text-property">specificity: </span>
      <span class="text-type">{{selectedNode.specificity}}</span>
    </li>
    <li>
      <span class="text-property">handler: </span>
      <span class="text-type">{{selectedNode.handler}}</span>
    </li>
    <li *ngIf="selectedNode._data && selectedNode._data.length > 0">
      <span class="text-property">data: </span>
      <ul>
        <li *ngFor="#el of selectedNode._data">
          <span class="text-property">{{el.key}}: </span>
          <span class="text-type">{{el.value}}</span>
        </li>
      </ul>
    </li>
  </ul>
</div>