<div *ngIf="node.packet">
  <bt-function-diagnostic
    *ngIf="
      node.packet
      && (node.packet.type == DiagType.FUNCTION)
      && (
        opts.showPassed
        || !node.packet.diagnostic.pass
      )
    "
    [fd]="node.packet.diagnostic"
    [full]="expanded"
    (click)="toggleExpanded()"
  ></bt-function-diagnostic>
</div>
<ng-container *ngIf="expanded">
  <div *ngFor="let child of node.children" [style.padding-left.em]="'2'">
    <bt-diag-tree-node
      [node]="child"
      [opts]="opts"
    ></bt-diag-tree-node>
  </div>
</ng-container>
