<div class="flex-grow flex flex-column bg-base">
<!--   <div *ngFor="let entry of log | async"> <!- @todo: add "trackLogEntry: trackById" ->
    <div *ngIf="entry.type == 'MSG'">
      <div><strong><span>MSG: </span>{{entry.value.txt}}</strong></div>
    </div>
    <div *ngIf="entry.type == 'PKT'">
     <div>
        <span><strong>{{entry.value.header}}</strong> <<{{entry.value.logicalThread.id}} || {{entry.value.logicalThread.stackTreePosition.join(',')}}>> </span>
      </div>
      <div *ngIf="entry.value.diagError">
        <div> ERROR (in diagnostic code) [section {{entry.value.diagError.section}}]:
          <strong> {{entry.value.diagError.error}} </strong>
        </div>
      </div>
      <div *ngIf="!entry.value.diagError">
        <div *ngIf="objectKeys(entry.value.pre.snapshots).length || entry.value.pre.msgs.length">
          <div>PRE</div>
          <div *ngFor="let snapshotKey of objectKeys(entry.value.pre?.snapshots)">
            <div><strong>{{snapshotKey}}:</strong>{{entry.value.pre?.snapshots[snapshotKey]}}</div>
          </div>
          <div *ngFor="let msg of entry.value.pre?.msgs">
            <div style="color:{{msg.color}}">{{msg.txt}}</div>
          </div>
        </div>
        <div *ngIf="entry.value.exception">
          <div> EXCEPTION: <strong> {{entry.value.exception}} </strong></div>
        </div>
        <div *ngIf="!entry.value.exception">
          <div *ngIf="objectKeys(entry.value.post.snapshots).length || entry.value.post.msgs.length">
            <div>POST</div>
            <div *ngFor="let snapshotKey of objectKeys(entry.value.post.snapshots)">
              <div><strong>{{snapshotKey}}:</strong>{{entry.value.post.snapshots[snapshotKey]}}</div>
            </div>
            <div *ngFor="let msg of entry.value.post?.msgs">
              <div style="color:{{msg.color}}">{{msg.txt}}</div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div> -->
</div>
