<div class="flex-grow flex flex-row bg-base" *ngIf="presentationOptions | async as opts">
  <div class="flex-grow flex flex-column bg-base">
    <div *ngFor="let packet of packets | async"> <!-- @todo: add "trackLogEntry: trackById" -->
      <bt-function-diagnostic
        *ngIf="
          (packet.type == DiagType.FUNCTION)
          && (
            opts.showPassed
            || !packet.diagnostic.pass
          )
        "
        [fd]="packet.diagnostic"
      ></bt-function-diagnostic>
    </div>
  </div>
  <bt-diag-sidebar></bt-diag-sidebar>
</div>
