<div *ngIf="ngModules" class="flex flex-column bg-panel minwidth-100pct">
  <div class="flex flex-row flex-none border-bottom py3 px3 m0 module-row">
    <input
      type="checkbox"
      id="toggle-angular-modules"
      [checked]="!hideAngularModules"
      (change)="hideAngularModules = !hideAngularModules"
    />
    <label for="toggle-angular-modules">Show Angular Library Modules</label>
  </div>
  <div
    *ngFor="let moduleName of moduleList(hideAngularModules)"
    class="flex flex-column flex-none border-bottom module-row"
  >
    <ng-module-config-view [moduleName]="moduleName" [config]="ngModules.configs[moduleName]"> </ng-module-config-view>
  </div>
</div>
