<table class="minwidth-100pct">
  <thead>
    <tr>
      <th *ngFor="let key of keys" class="config-label primary-color pt1 pb2 m0">
        {{key}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let key of keys">
        <div class="list-container">
          <div class="label-wrapper info-value" *ngFor="let item of config[key]">{{item}}</div>
          <span *ngIf="!config[key].length" class="descriptive-text"><em>None</em></span>
        </div>
      </td>
    </tr>
  </tbody>
<table>
