/*
 * Index
 */

/* Basscss Modules */
@import 'basscss';
@import 'basscss-border-colors';
@import 'basscss-layout';
@import 'basscss-type-scale';
@import 'basscss-typography';

/* CSS Folder Imports */
@import './base.css';
@import './components/components.css';
@import './properties.css';
@import './utils/utils.css';

.transparent {
  opacity: 0;
  pointer-events: none;
}