
/* Base */

html,
body {
  /* Override basscss default white background to prevent a white flash during load. */
  background-color: inherit !important;

  font-size: 11px;
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

bt-tab-menu > header {
  padding-left: 5px;
}

split-pane-secondary-content {
  border-left: 1px solid rgb(92, 92, 92);
}

.monospace {
  font-family: 'Menlo', monospace;
}

.vh-100 {
  height: 100vh;
}

.mh100pct {
  max-height: 100%;
}

.tab-menu-title {
  cursor: pointer;
  font-size: var(--tab-menu-title);

  &:hover {
    background-color: var(--grey-medium);
  }
}

.pointer {
  cursor: pointer;
}

.bg-panel {
  background-color: rgba(0, 0, 0, .0625);
}

.bg-white {
  background-color: #fff;
}

.border-transparent {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}

.outline {
  outline: 0;
}

.border-none {
  border: 0;
}

.disabled-color {
  opacity: 0.6;
}

.expander {
  display: inline-block;
  width: 0.8rem;
  height: 0.7rem;
  background-color: transparent;
  background: transparent url(/images/Triangle.svg) center center;
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.expander.invisible {
  background: transparent;
  background-color: #eee;
  border-radius: 100%;
}