.tree-container {
  font-size: 11px;
}
.changed {
  background-color: var(--bt-change-highlight-color);
}
.source-color {
  color: red;
}
h4.header {
  line-height: 19px;
}
.info-value {
  color: var(--bt-type-color);
}
.info-key {
  color: var(--bt-key-color);
}
bt-component-info a,
bt-component-info a:link,
bt-component-info a:visited,
bt-component-info a:active {
  color: var(--bt-link-color);
  text-decoration: none;
}
bt-component-info a:hover {
  text-decoration: underline;
}
bt-dependency ul li:last-child {
  border-bottom: none;
}