.tree-container {
  font-size: 11px;
}
.changed {
  background-color: var(--bt-change-highlight-color);
}
.source-color {
  color: red;
}
h4.header {
  line-height: 19px;
}
.info-value {
  color: var(--bt-type-color);
}
.info-key {
  color: var(--bt-key-color);
}