.node-item {
  cursor: pointer;
  width: 100%;
}

.node-item:hover {
  background-color: var(--blue-light);
}

.node-item-error {
  background-color: var(--red-lightest)
}

.node-item-selected {
  background-color: var(--blue);
  color: white;
}

.node-item-selected:hover {
  background-color: var(--blue);
}

.node-item-container {
  display: inline;
}

.node-item-name {
  color: var(--webkit-tag-name);
  display: inline;
}

.node-item-property {
  color: var(--webkit-attribute-key);
  display: inline;
}

.node-item-value {
  color: var(--webkit-attribute-value);
  display: inline;
}
