bt-router-tree .node {
  cursor: pointer;
}
bt-router-tree circle {
  stroke: #CB5142;
  fill: #F19B90;
  stroke-width: 1.5px;
}
bt-router-tree circle.aux {
  stroke: #4283CB;
  fill: #7EA7D4;
}
bt-router-tree .node text {
  font: 12px monospace;
}
bt-router-tree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
bt-router-tree bt-router-info {
  font: 12px monospace;
  position: absolute;
  right: 20px;
  top: 50px;
  border: solid 1px #9B9B9B;
  min-width: 150px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

bt-router-info .title {
  padding-left: 10px;
  line-height: 25px;
  text-align: left;
  font-size: 15px;
  border-bottom: solid 1px #9B9B9B;
}

bt-router-info .route-info ul {
  list-style: none;
  padding: 8px;
}

bt-router-info .route-info li {
  line-height: 15px;
}

bt-router-info .route-info ul ul {
  padding-left: 15px;
  list-style: none;
}

.node-route {
  fill: #FFF0F0;
  stroke-width: 1px;
  stroke: #FF0202;
}
.node-aux-route {
  fill: #EBF2FC;
  stroke-width: 1px;
  stroke: #2828AB;
}
