.property-editor {
  display: flex;
}

.info-key {
  margin-right: 0.5em;
}

.property-editor.editing .info-key {
  margin-top: 0.5em;
}

.property-editor input {
  position: relative;
  display: table-cell;
  width: 100%;
  border-radius: 1px;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.state-container {
  display: flex;
  flex-grow: 2;
}

.state-container > span {
  width: 100%;
}