.property-editor {
  display: inline-block;
  width: 98%;
}

.property-editor.editing {
  white-space: nowrap;
}

.property-editor input {
  position: relative;
  display:table-cell;
  width: 100%;
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.4s linear;
}

/*
.property-editor input.pulse::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: border-pulsate 2s infinite;
}

@keyframes border-pulsate {
    0%   { box-shadow: 0px 0px 2px rgba(255, 0, 0, 1); }
    50%  { box-shadow: 0px 0px 2px rgba(255, 255, 255, 1); }
    100% { box-shadow: 0px 0px 2px rgba(255, 0, 0, 1); }
}*/