<div class="flex flex-column flex-auto overflow-scroll">
  <div class="bg-darken-1 bg-panel border-bottom py3 px3 m0 ">
    <h4 class="primary-color col pt1 pb2 m0">
      {{ node && node.name || 'No component selected' }}
      &nbsp;
      <a href=""
        class="red-1 node-item-property"
        *ngIf="node && node.name && node.isComponent"
        (click)="viewComponentSource($event)">
        (View Source)
        </a>
    </h4>
    <span class="h4 regular right primary-color"
      *ngIf="node">
      ($a in Console)
    </span>
  </div>

  <div [hidden]="!(node && node.name)">
    <accordion sectionTitle="Properties">
      <section-content>
        <ul class="list-reset m0"
          *ngIf="node && node.description">
          <bt-property-value
            *ngFor="let property of node.description"
            [checkUpdate]="false"
            [key]="property.key"
            [value]="property.value">
          </bt-property-value>
        </ul>
      </section-content>
    </accordion>

    <accordion sectionTitle="Providers"
      *ngIf="node && node.providers && node.providers.length > 0">
      <section-content>
        <span *ngFor="let provider of node.providers">
          <p class="m1 bold">{{provider.key}}</p>
          <bt-property-value
            *ngFor="let property of provider.value"
            [checkUpdate]="true"
            [key]="property.key"
            [value]="property.value">
          </bt-property-value>
        </span>
      </section-content>
    </accordion>

    <accordion sectionTitle="Directives"
      *ngIf="node && node.directives && node.directives.length > 0">
      <section-content>
        <ul class="list-reset m0">
          <li *ngFor="let directive of node.directives">
            <span class="inline-block info-key">
              {{directive}}
              </span>
          </li>
        </ul>
      </section-content>
    </accordion>

    <accordion sectionTitle="Change Detection"
      *ngIf="node && node.changeDetection">
      <section-content>
        <span class="node-item-property">{{node.changeDetection}}</span>
      </section-content>
    </accordion>

    <accordion sectionTitle="Input"
      *ngIf="node && node.input && node.input.length > 0">
      <section-content>
        <ul class="list-reset m0">
          <li *ngFor="let input of input">
            <span class="info-key inline-block">
              {{input.key}}:
            </span>
            <span class="info-value inline-block"
              *ngIf="input.value !== ''">
              {{input.value}}
            </span>
          </li>
        </ul>
      </section-content>
    </accordion>

    <accordion sectionTitle="Output"
      *ngIf="node && node.output && node.output.length > 0">
      <section-content>
        <ul class="list-reset m0">
          <li *ngFor="let output of node.output; ">
            <span class="info-key inline-block">
              {{output}}
              <input class="editable"
                type="text"
                #prop>
              <button class="btn btn-primary bg-olive mb1"
                (click)="fireEvent(output, prop.value)">
                Fire
              </button>
            </span>
          </li>
        </ul>
      </section-content>
    </accordion>

    <accordion sectionTitle="State" *ngIf="node" [defaultExpanded]="node != null">
      <section-content>
        <div class="mxn4">
          <div [ngSwitch]="loadingState">
            <template [ngSwitchCase]="ComponentLoadState.Loading">
              <spinner></spinner>
            </template>
            <template [ngSwitchCase]="ComponentLoadState.Received">
              <bt-render-state
                [path]="path"
                [id]="node.id"
                [state]="state"
                [level]="0">
              </bt-render-state>
            </template>
            <template [ngSwitchCase]="ComponentLoadState.Failed">
              Failed to load component state
            </template>
          </div>
        </div>
      </section-content>
    </accordion>

    <accordion sectionTitle="Dependencies"
      *ngIf="node && node.dependencies && node.dependencies.length > 0">
      <section-content>
        <bt-dependency
          [dependencies]="node.dependencies"
          (selectionChange)="selectionChange.emit($event)">
        </bt-dependency>
      </section-content>
    </accordion>

    <accordion [sectionTitle]='"Children"'
      *ngIf="node && node.children && node.children.length > 0">
      <section-content>
        <div id="tree-children"
          class="h4">
          </div>
      </section-content>
    </accordion>
  </div>
</div>
