.emit-state {
  display: inline-block;
  margin-left: 8px;
  min-width: 10px;
}

.emitted {
  color: green;
}

.failed {
  color: red;
}

.spinner-container {
  display: block;
  width: 100%;
  height: 20px;
}