<div class="flex flex-column overflow-scroll col-12">

  <div class="py3 px3 m0 bg-darken-1 border-bottom">
      <h4 class="col m0 header">
        {{ node && node.name || 'No Component Selected' }}
        &nbsp;<a href="" class="source-color" *ngIf="node && node.name"
          (click)="viewComponentSource($event)">(View Source)</a>
      </h4>
      <span class="right regular mr4" *ngIf="node">($a in Console)</span>
  </div>

  <div [hidden]="!(node && node.name)">
    <accordian [sectionTitle]='"Properties"'>
      <section-content>
        <ul *ngIf="node && node.description">
            <li *ngFor="#property of node.description">
                <p class="node-item-property">{{property.key}}: </p>
                <p class="node-item-value">{{property.value}}</p>
            </li>
        </ul>
      </section-content>
    </accordian>

    <accordian *ngIf="node && node.changeDetection" [sectionTitle]='"Change Detection"'>
      <section-content>
        {{node.changeDetection}}
      </section-content>
    </accordian>

    <accordian [sectionTitle]='"Dependencies"'>
      <section-content>
        <ul *ngIf="node && node.dependencies && node.dependencies.length > 0">
          <li *ngFor="#dependency of node.dependencies">
              <a href="#" class="node-item-property"
                  (click)="findDependencies(dependency)">
                {{dependency}}
              </a>
          </li>
        </ul>
      </section-content>
    </accordian>

    <accordian [sectionTitle]='"Input &amp; Output"'>
      <section-content>
        <ul *ngIf="node && node.input && node.input.length > 0">
            <li *ngFor="#input of node.input" [innerHTML]="formatInput(input)"></li>
        </ul>
        <ul *ngIf="node && node.output && node.output.length > 0">
            <li *ngFor="#output of node.output">
                <p class="node-item-property">{{output}}</p>
            </li>
        </ul>
      </section-content>
    </accordian>

    <accordian [sectionTitle]='"State"'>
      <section-content>
        <div style="padding-left: 15px;">
            <bt-render-state *ngIf="node && node.state"
                [propertyTree]="propertyTree"
                [id]="node.id"
                [state]="node.state"></bt-render-state>
        </div>
      </section-content>
    </accordian>

    <accordian [sectionTitle]='"Children"'>
      <section-content>
        <div id="tree-children" class="px4 tree-container"></div>
      </section-content>
    </accordian>

  </div>
</div>