.red-1 {
  color: red;
}

.bg-error {
  background-color: rgba(255, 11, 0, 0.15);
}

.changed {
  background-color: #e7b4e4;
}

bt-router-tree .link {
  stroke: #9b9b9b;
}

bt-injector-tree .stroke-root {
  stroke: var(--lmode-igraph-component-primary);
}

bt-injector-tree .stroke-component {
  stroke: var(--lmode-igraph-component-primary);
}

bt-injector-tree .stroke-dependency {
  stroke: var(--lmode-igraph-dependency-primary);
}

bt-injector-tree .stroke-dependency.origin {
  stroke: var(--lmode-igraph-dependency-legend-origin);
}

bt-injector-tree .fill-root {
  fill: var(--lmode-igraph-component-primary);
}

bt-injector-tree .fill-component {
  fill: #ebf2fc;
}

bt-injector-tree .fill-dependency {
  fill: #fff0f0;
}

bt-injector-tree .fill-dependency.provided-here {
  fill: var(--lmode-igraph-dependency-legend-provided);
}

.light {
  background-color: white;
}

.light .bg-base {
  background-color: white;
}

.light .bg-panel {
  background-color: #f3f3f3;
}

.light .primary-color,
.light .toggler {
  color: #5a5a5a;
}

.light .legible-color {
  color: #333;
}

.light .bg-primary {
  background-color: #5a5a5a;
}

.light .editable {
  background-color: #ebf2fc;
  border-bottom-color: blue;
  color: #2828ab;
}

.light [split-pane-secondary-content] {
  border-left-color: #a3a3a3;
}

.light .tab-menu-title.selected {
  color: #333;
}

.light .tab-menu-title:hover {
  color: #333;
  background-color: #e5e5e5;
}

.light .select-element-active svg * polygon {
  fill: #4280ec;
}

.light .select-element-active svg * path {
  stroke: #4280ec;
}

.light .node-item:hover {
  background-color: #ebf2fc;
}

.light .node-item-selected,
.light .node-item-selected:hover {
  background-color: #a28ad0;
}

.light .node-item-name {
  color: #881280;
}

.light .node-item-property {
  color: #994500;
}

.light .node-item-value {
  color: #1a1aa6;
}

.light .node-item-selected * > .node-item-value {
  color: white;
}

.light .info-key {
  color: #8f1f87;
}

.light .info-value {
  color: black;
}

.light .border {
  border-color: #ccc;
}

.light .border-bottom {
  border-bottom-color: #ccc;
}

.light .border-right {
  border-right-color: #ccc;
}

.light .border-top {
  border-top-color: #ccc;
}

.light .border-left {
  border-left-color: #ccc;
}

.light .descriptive-text {
  color: #777;
}

.light bt-router-tree .node-route {
  stroke: var(--lmode-rtree-node-primary);
  fill: var(--lmode-rtree-node-secondary);
}

.light bt-router-tree .node-route:hover,
.light bt-router-tree .node-route.selected {
  fill: var(--lmode-rtree-node-primary);
}

.light bt-router-tree .node-aux-route {
  stroke: var(--lmode-rtree-aux-node-primary);
  fill: var(--lmode-rtree-aux-node-secondary);
}

.light bt-router-tree .node-aux-route:hover,
.light bt-router-tree .node-aux-route.selected {
  fill: var(--lmode-rtree-aux-node-primary);
}

.light bt-router-tree text {
  fill: black;
}

.light bt-injector-tree text {
  fill: black;
}

.light bt-injector-tree #suit > path {
  stroke: var(--lmode-igraph-component-primary) !important;
}

.dark .bg-base {
  background-color: #242424;
}

.dark .bg-panel {
  background-color: #2a2a2a;
}

.dark .primary-color,
.dark .toggler {
  color: #a5a5a5;
}

.dark .legible-color {
  color: #ccc;
}

.dark .bg-primary {
  background-color: #a5a5a5;
}

.dark .editable {
  background-color: #242424;
  border-bottom-color: #bdc6cf;
  color: #bdc6cf;
}

.dark [split-pane-secondary-content] {
  border-left-color: #5c5c5c;
}

.dark .tab-menu-title.selected {
  color: #ccc;
}

.dark .tab-menu-title:hover {
  color: #ccc;
  background-color: #313131;
}

.dark .select-element-active > svg * > polygon {
  fill: #03f4ff;
}

.dark .select-element-active > svg * > path {
  stroke: #03f4ff;
}

.dark .select-element > svg * > polygon {
  fill: #fc3;
}

.dark .select-element > svg * > path {
  stroke: #fc3;
}

.dark .node-item:hover {
  background-color: #3d3d3d;
}

.dark .node-item-selected .node-item-name,
.dark .node-item-selected .node-item-property,
.dark .node-item-selected .node-item-value {
  color: #242424;
}

.dark .node-item-property {
  color: #bdc6cf;
}

.dark .info-value,
.dark .node-item-value {
  color: #fc3;
}

.dark .node-item-selected,
.dark .node-item-selected:hover {
  background-color: #564d66;
}

.dark .node-item-name,
.dark .info-key {
  color: #a28ad0;
}

.dark .border {
  border-color: #3d3d3d;
}

.dark .border-bottom {
  border-bottom-color: #3d3d3d;
}

.dark .border-right {
  border-right-color: #3d3d3d;
}

.dark .border-top {
  border-top-color: #3d3d3d;
}

.dark .border-left {
  border-left-color: #3d3d3d;
}

.dark .descriptive-text {
  color: #aaa;
}

.dark bt-router-tree .node-route {
  stroke: var(--dmode-rtree-node-primary);
  fill: var(--dmode-rtree-node-secondary);
}

.dark bt-router-tree .node-route:hover,
.dark bt-router-tree .node-route.selected {
  fill: var(--dmode-rtree-node-primary);
}

.dark bt-router-tree .node-aux-route {
  stroke: var(--dmode-rtree-aux-node-primary);
  fill: var(--dmode-rtree-aux-node-secondary);
}

.dark bt-router-tree .node-aux-route:hover,
.dark bt-router-tree .node-aux-route.selected {
  fill: var(--dmode-rtree-aux-node-primary);
}

.dark bt-router-tree text {
  fill: #a5a5a5;
}

.dark bt-injector-tree text {
  fill: #a5a5a5;
}

.dark bt-injector-tree .stroke-root,
.dark bt-injector-tree .stroke-component {
  stroke: var(--dmode-igraph-component-primary);
}

.dark bt-injector-tree .fill-root {
  fill: var(--dmode-igraph-component-primary);
}

.dark bt-injector-tree #suit > path {
  stroke: var(--dmode-igraph-component-primary) !important;
}
