.red-1 {
  color: red;
}

.bg-error {
  background-color: rgba(255, 11, 0, 0.15);
}

.changed {
  background-color: #E7B4E4;
}

bt-router-tree .link {
  stroke: #9B9B9B;
}

bt-injector-tree {
  & .stroke- {
    &root {
      stroke: #9B9B9B;
    }

    &component {
      stroke: #2828AB;
    }

    &service {
      stroke: #FF0202;
    }
  }

  & .fill- {
    &root {
      fill: #9B9B9B;
    }

    &component {
      fill: #EBF2FC;
    }

    &service {
      fill: #FFF0F0;
    }
  }
}

.light {
  background-color: white;

  & .bg-base {
    background-color: white;
  }

  & .bg-panel {
    background-color: #F3F3F3;
  }

  & .primary-color,
  & .toggler {
    color: #5A5A5A;
  }

  & .bg-primary {
    background-color: #5A5A5A;
  }

  & .editable {
    background-color: #EBF2FC;
    border-bottom-color: blue;
    color: #2828AB;
  }

  & split-pane-secondary-content {
    border-left-color: #A3A3A3;
  }

  & .tab-menu-title.selected {
    color: #333;
  }

  & .tab-menu-title:hover {
    color: #333;
    background-color: #E5E5E5;
  }

  & .node-item:hover {
    background-color: #EBF2FC;
  }

  & .node-item-selected,
  & .node-item-selected:hover {
    background-color: #DDD;
  }

  & .node-item-name {
    color: #881280;
  }

  & .node-item-property {
    color: #994500;
  }

  & .node-item-value {
    color: #1A1AA6;
  }

  & .info-key {
    color: #8F1F87;
  }

  & .info-value {
    color: black;
  }

  & .border {
    border-color: #CCC;
  }

  & .border-bottom {
    border-bottom-color: #CCC;
  }

  & .border-right {
    border-right-color: #CCC;
  }

  & .border-top {
    border-top-color: #CCC;
  }

  & .border-left {
    border-left-color: #CCC;
  }

  & bt-router-tree {
    & .node-route {
      stroke: #F05057;
    }

    & .node-aux-route {
      stroke: var(--bt-link-color);
    }

    & text {
      fill: black;
    }
  }

  & bt-injector-tree text {
    fill: black;
  }

  & bt-injector-tree #suit > path {
    stroke: #5A5A5A !important;
  }
}

.dark {
  background-color: #242424;

  & .bg-base {
    background-color: #242424;
  }

  & .bg-panel {
    background-color: #2A2A2A;
  }

  & .primary-color,
  & .toggler {
    color: #A5A5A5;
  }

  & .bg-primary {
    background-color: #A5A5A5;
  }

  & .editable {
    background-color: #242424;
    border-bottom-color: #BDC6CF;
    color: #BDC6CF;
  }

  & split-pane-secondary-content {
    border-left-color: #5C5C5C;
  }

  & .tab-menu-title.selected {
    color: #CCCCCC;
  }

  & .tab-menu-title:hover {
    color: #CCCCCC;
    background-color: #313131;
  }

  & .node-item:hover {
    background-color: #3D3D3D;
  }

  & .node-item-selected {
    & .node-item-name,
    & .node-item-property,
    & .node-item-value {
      color: #242424;
    }
  }
  & .node-item-property {
    color: #BDC6CF;
  }

  & .info-value,
  & .node-item-value {
    color: #FFCC33;
  }

  & .node-item-selected,
  & .node-item-selected:hover {
    background-color: #A28AD0;
  }

  & .node-item-name,
  & .info-key {
    color: #A28AD0;
  }

  & .border {
    border-color: #3D3D3D;
  }

  & .border-bottom {
    border-bottom-color: #3D3D3D;
  }

  & .border-right {
    border-right-color: #3D3D3D;
  }

  & .border-top {
    border-top-color: #3D3D3D;
  }

  & .border-left {
    border-left-color: #3D3D3D;
  }

  & bt-router-tree {
    & .node-route {
      stroke: #F05057;
    }

    & .node-aux-route {
      stroke: var(--bt-link-color)
    }

    & text {
      fill: #A5A5A5;
    }
  }

  & bt-injector-tree text {
    fill: #A5A5A5;
  }

  & bt-injector-tree #suit > path {
    stroke: #A5A5A5 !important;
  }
}
