<!--dependencies view-->
<div class="mxn4 myn2"
  *ngIf="!(depComps && depComps.length > 0)">
  <ul class="list-reset m0">
    <li class="border-bottom py2 px4"
      *ngFor="let dep of dependencies">
      <a href="#"
        (click)="findDependency(dep)">
        {{dep}}
        </a>
    </li>
  </ul>
</div>

<!--dependent components view-->
<div class="mxn4 myn2"
  *ngIf="currDep != ''">
  <div class="border-bottom py2 px4">
    <a href="#"
      class="icon double-arrow rotate180"
      (click)="navBack()">
      </a>
    <span class="inline-block">
      {{currDep}}
      </span>
  </div>

  <ul class="list-reset m0"
    *ngIf="(depComps && depComps.length > 0)">
    <li class="border-bottom py2 px4"
      *ngFor="let comp of depComps">
      <a href="#" (
        click)="selectNode(comp)">
        {{comp.name}} (a-id = {{comp.id}})
        </a>
      <ul>
        <li *ngFor="let dep of comp.dependencies">
          <a href="#"
            (click)="findDependency(dep)">
            {{dep}}
            </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
