<!--dependencies view-->
<div *ngIf="!(depComps && depComps.length > 0)" class="mxn4 myn2">
  <ul class="list-reset m0">
    <li *ngFor="#dep of dependencies" class="py2 px4 border-bottom">
        <a href="#" (click)="findDependency(dep)">
          {{dep}}
        </a>
    </li>
  </ul>
</div>

<!--dependent components view-->
<div *ngIf="currDep != ''" class="mxn4 myn2">
  <div class="py2 px4 border-bottom">
    <a href="#" (click)="navBack()" class="icon double-arrow rotate180">
    </a>
    <span class="inline-block">{{currDep}}</span>
  </div>

  <ul class="list-reset m0"
    *ngIf="(depComps && depComps.length > 0)">
    <li *ngFor="#comp of depComps" class="py2 px4 border-bottom">
      <a href="#" (click)="selectNode(comp)">
        {{comp.name}} (b-id = {{comp.id}})
      </a>
      <ul>
        <li *ngFor="#dep of comp.dependencies">
            <a href="#" (click)="findDependency(dep)">
              {{dep}}
            </a>
        </li>
      </ul>
    </li>
  </ul>
</div>