<div *ngIf="hasContent"
  class="clearfix vh-100 overflow-hidden flex flex-column"
  [ngClass]="options.theme === Theme.Dark ? 'dark' : 'light'">
  <div class="vh-100" *ngIf="error">
    <render-error
      (reportError)="onReportError()"
      [error]="error"></render-error>
  </div>
  <bt-app-trees #trees *ngIf="error === null"
    class="flex flex-column flex-auto"
    [componentState]="componentState"
    [selectedTab]="selectedTab"
    [selectedNode]="selectedNode"
    [routerTree]="routerTree"
    [ngModules]="ngModules"
    [options]="options"
    [tree]="tree"
    [ngModules]="ngModules"
    [activateDOMSelection]="activateDOMSelection"
    (tabChange)="onSelectedTabChange($event)"
    (DOMSelectionChange)="onDOMSelectionChange($event)"
    (selectNode)="onSelectNode($event)"
    (inspectElement)="onInspectElement($event)"
    (collapseChildren)="onCollapseChildren($event)"
    (expandChildren)="onExpandChildren($event)">
  </bt-app-trees>
</div>
<template [ngIf]="!hasContent">
  No components were found on the page
</template>
