<div *ngIf="hasContent"
  class="clearfix vh-100 overflow-hidden flex flex-column"
  [ngClass]="options.theme === Theme.Dark ? 'dark' : 'light'">
  <augury-header
    [options]="options"
    [selectedTab]="selectedTab"
    [tree]="tree"
    [routerTree]="routerTree"
    (selectNode)="onComponentSelectionChange($event)"
    (selectRoute)="onRouteSelectionChange($event)">
  </augury-header>
  <template [ngIf]="error">
    <render-error [error]="error"></render-error>
  </template>
  <bt-app-trees #trees *ngIf="error == null"
    class="flex flex-column flex-auto"
    [componentState]="componentState"
    [selectedTab]="selectedTab"
    [selectedNode]="selectedNode"
    [selectedRoute]="selectedRoute"
    [routerTree]="routerTree"
    [options]="options"
    [tree]="tree"
    (tabChange)="onSelectedTabChange($event)"
    (selectionChange)="onComponentSelectionChange($event)"
    (inspectElement)="onInspectElement($event)">
  </bt-app-trees>
</div>
<template [ngIf]="!hasContent">
  No components were found on the page
</template>