<div (mouseout)="stop($event, onMouseOut)"
     (mouseover)="stop($event, onMouseOver)"
     (dblclick)="stop($event, onDblClick)"
     (click)="stop($event, onClick)">
  <div class="node-item pl3 rounded border-box"
    [ngClass]="{'node-item-selected': selected, changed: viewState.nodeIsChanged(node)}">
    <div
      [ngClass]="{
        expander: true,
        rotate90: !expanded,
        invisible: node.children == null || node.children.length === 0
      }"
      (click)="expandTree($event)">
    </div>
    <div class="inline">
      <p class="node-item-name">{{node.name}}</p>
      <span class="node-item-description" *ngIf="node.description.length > 0">
        (<template ngFor let-d [ngForOf]="node.description" let-last>
          <p class="node-item-property">{{d.key}}</p>
          <p class="node-item-value">{{d.value}}</p>
          <span *ngIf="!last">, </span>
        </template>)
      </span>
    </div>
  </div>

  <div class="border-box pl4" *ngIf="expanded">
    <bt-node-item *ngFor="let node of node.children; trackBy: trackById"
      [node]="node"
      (selectionChange)="selectionChange.emit($event)"
      (inspectElement)="inspectElement.emit($event)">
    </bt-node-item>
  </div>
</div>