<span *ngIf="attributes.length > 0">
  <span class="node-item-description" [ngClass]="{hide: !show}">
    (<template ngFor let-d [ngForOf]="attributes" let-last="last"><p class="node-item-property">{{d.key}}</p><span class="punctuation">=&quot;</span><p class="node-item-value">{{d.value}}</p><span class="punctuation">&quot;</span><span *ngIf="!last" class="punctuation">,&nbsp;</span></template>)
  </span>

  <span (click)="onShow($event)" class="node-item-description" [ngClass]="{hide: show}">
    (<p class="node-item-value preview">...</p>)
  </span>
</span>