<div (mouseout)="stop($event, onMouseOut)"
     (mouseover)="stop($event, onMouseOver)"
     (dblclick)="stop($event, onDblClick)"
     (click)="stop($event, onClick)">
  <div class="node-item pl3 rounded border-box"
    [ngClass]="{'node-item-selected': selected, changed: isUpdated}">
    <div
      [ngClass]="{
        expander: true,
        rotate90: !expanded,
        invisible: node.children == null || node.children.length === 0
      }"
      (click)="expandTree($event)">
    </div>
    <div class="inline" [innerHTML]="getNodeDetails(node)"></div>
  </div>

  <div class="border-box pl4" *ngIf="expanded">
    <bt-node-item *ngFor="let node of node.children; trackBy: trackById"
      [changedNodes]="changedNodes"
      [selectedNode]="selectedNode"
      [closedNodes]="closedNodes"
      [node]="node"
      (selectionChange)="selectionChange.emit($event)">
    </bt-node-item>
  </div>
</div>