:host p {}

:host .node-item-name {
  margin-left: 5px;
}

:host .node-item-value {
  margin-left: 2px;
}

:host .node-item-close-tag {
  margin-left: 15px;
}

:host .parenthesis,
:host .punctuation {
  color: darkcyan;
}
