<div class="pa2">
  <div class="ba br4 p2 pl3 mb3 bg-purple white">
    <h1>{{title}}</h1>
  </div>
  <div class="fl w-50">
    Giant Message Board
    <div>
      <app-messageboard [message]="message"></app-messageboard>
    </div>
    <div class="pb2">
      Message Entry
    </div>
    <div>
      <app-messageentry (messageEvent)="onMessageEvent($event)"></app-messageentry>
    </div>
  </div>
  <div class="fl w-50 bl pl2">
    <div class="bb">
      Counter
      <h3>Parent Count: {{count}}</h3>
      <div class="">
        <app-counter (countEvent)="onCountEvent($event)"></app-counter>
      </div>
    </div>
    <div class="pt2">
      Toggler
      <app-toggle></app-toggle>
    </div>
  </div>
</div>
