<bt-tab-menu
   [tabs]="tabs"
   (tabChange)="onTabSelectionChanged($event)"
   [selectedTab]="selectedTab">
</bt-tab-menu>

<split-pane [ngClass]="{ 'flex-auto flex': selectedTab === Tab.ComponentTree, 'display-none': selectedTab !== Tab.ComponentTree }">
  <div split-pane-primary-content class="flex flex-column flex-auto">
    <bt-tree-view
       class="flex minheight-100pct"
       [tree]="tree"
       [selectedNode]="selectedNode"
       (selectionChange)="selectionChange.emit($event)"
       (inspectElement)="inspectElement.emit($event)"
       (collapseChildren)="collapseChildren.emit($event)"
       (expandChildren)="expandChildren.emit($event)">
    </bt-tree-view>
  </div>
  <div split-pane-secondary-content class="flex flex-column flex-auto">
    <bt-info-panel
       class="flex flex-column flex-auto bg-base"
       [tree]="tree"
       [node]="selectedNode"
       [loadingState]="componentState.loadingState(selectedNode)"
       [instanceValue]="componentState.componentInstance(selectedNode)"
       (selectionChange)="selectionChange.emit($event)">
    </bt-info-panel>
  </div>
</split-pane>

<bt-router-tree
   class="overflow-auto flex-auto"
   [hidden]="selectedTab !== Tab.RouterTree"
   [routerTree]="routerTree"
   [selectedNode]="selectedRoute">
</bt-router-tree>
