<div class="flex flex-column overflow-scroll col-12">
  <div class="p3 mb1 bg-darken-1">
      <h4 class="header m0">{{ dependency || 'No Dependency Selected' }}</h4>
  </div>
  <ul *ngIf="components.length > 0">
      <li *ngFor="#component of components">
          <a href="#" class="node-item-property"
            (click)="selectComponent(component)">{{component.name}}
            (<p class="node-item-property">b-id=</p><p class="node-item-value">{{component.id}}</p>)</a>
          <ul>
            <li *ngFor="#dependency of component.dependencies">
                <a href="#" class="node-item-value"
                  (click)="findDependencies(dependency)">
                  {{dependency}}
                </a>
            </li>
          </ul>
      </li>
  </ul>
</div>