.node-item {
  cursor: pointer;
  width: 100%;
}

.node-item:hover {
  background-color: var(--blue-light);
}

.node-item-error {
  background-color: var(--red-lightest)
}

.node-item-selected {
  background-color: var(--blue);
  color: white;
}

.node-item-selected:hover {
  background-color: var(--blue);
}