.node-item {
  cursor: pointer;
  width: 100%;
}

.node-item:hover {
  background-color: var(--blue-light);
}

.node-item-error {
  background-color: var(--red-lightest)
}

.node-item-selected {
  background-color: var(--blue);
  color: white;
}

.node-item-selected:hover {
  background-color: var(--blue);
}

.node-item-name {
  color: rgb(136, 18, 128);
  display: inline;
}

.node-item-property {
  color: brown;
  display: inline;
}

.node-item-value {
  color: rgb(26, 26, 166);
  display: inline;
}
